#inf:hover .car{
    transform: translate(300%, 200%);
    
}
.car {
    top: 45%;
    left: 44%;
    position: absolute;
    width: 100px;
    height: 70px;
    border-radius: 10px;
    transition: all 1s ease-in-out;
}