ul{
    background-color:  #FC9D00; 
    width: 100%;
}
a:link, a:visited{
    color: #ffffff;
    text-decoration: none;
}
li{
    display: inline-block;
    margin: 0px 13px;
    font: 13px;
    line-height: 35px;
    padding: 0px 13px;
}
a:hover li{
    color: #ffffff;
    text-decoration: none;
    background-color: #e93301;
}