a:link.ttt, a:visited.ttt{
    text-decoration: none;
    color: blue;
}
a:link.eee, a:visited.eee{
    text-decoration: underline;
    color: red;
}
a:link.www, a:visited.www{
    text-decoration: none;
    color: black;
}