div {
  width: 380px;
  background-color: #858585;
  height: 313px;
  display: inline;
  top: 50%;
}
.displai {
  width: 347px;
  height: 40px;
  margin: 5px auto;
  border: 1px;
  border-radius: 7px;
  background-color: rgb(255, 255, 255);
}
input{
  background: rgb(70, 69, 69);
  margin: 0 auto;
  width: 66px;
  height: 60px;
  border-radius: 5px;
  font-size: 24px;
  font-display: block;
 }